
  <div class="container">
    <div class="nav-top nav-top-regional" id="top">
      <ul class="nav-skip-links">
        <li><a href="#nav-main"><span>Aller au </span><span>menu</span></a></li>
        <li><a href="#main"><span>Aller au </span><span>contenu</span></a></li>
      </ul>
      <ul class="contact-link">
        <li><a href="/nous-contacter.html">Nous contacter</a></li>
        <li lang="en"><a href="/abonnement.html">Newsletter</a></li>
      </ul>
    </div>

    <div class="logo logo-regional">
      <div>
        <img class="logo-rf" src="/assets/images/logo-republique-francaise.png" alt="République Française : Liberté, Égalité, Fraternité">
        <h1>
          <a href="/" aria-label="Les services du village de Flaux - République Française : Liberté, Égalité, Fraternité">
            <span class="region-name">
              <span class="tt1">La mairie de</span>
              <span class="tt2">Flaux</span>
            </span>
          </a>
        </h1>
      </div>
    </div>


    <div class="header-right header-right-regional">
      <div class="social-link">
        <ul>
          <li><a class="social-item" title="Votre village sur Facebook - Nouvelle fenêtre" href="https://www.facebook.com/groups/flaux.solidaire" target="_blank"><img src="/assets/images/ico_facebook_white.png" alt="Votre région sur Facebook"></a></li>
          <li><a class="social-item" title="Votre village sur Twitter - Nouvelle fenêtre" href="https://twitter.com/mairie_flaux" target="_blank"><img src="/assets/images/ico_twitter_white.png" alt="Votre région sur Twitter"></a></li>
        </ul>
      </div>
    </div><!-- header-right -->

  </div><!-- container -->
