
    <footer class="footer" role="contentinfo">
  		<div class="footer-links">
  			<div class="container">
  			  <div class="footer-links-1">
           
            <p><img src="/assets/images/logo-republique-francaise-moyen.png" alt="République Française : Liberté, Égalité, Fraternité" style="margin: 0 0 0 18px;"></p>
          </div>
          <div class="footer-links-2">
  	        <div class="departement-link">
  		      <h3 class="title_departement">Les services de l'État <span>dans le Gard</span></h3>
              <ul>
                <li><a href="http://www.gard.gouv.fr/" title="Visiter le site http://www.gard.gouv.fr - nouvelle fenêtre" target="_blank">Préfet du Gard</a></li>
                <li><a href="http://www.gard.gouv.fr/Services-de-l-Etat/Prefecture-et-sous-prefectures/Prefecture" title="Visiter le site http://www.gard.gouv.fr/Services-de-l-Etat/Prefecture-et-sous-prefectures/Prefecture - nouvelle fenêtre" target="_blank">Préfecture de Nîmes</a></li>
              </ul>
    					<ul>
    				    <li><a href="https://www.ccpaysduzes.fr/" title="Visiter le site https://www.ccpaysduzes.fr - nouvelle fenêtre" target="_blank" data-xiti-type="exit" data-xiti-niv2="11">Pay d'Uzès</a></li>
                <li><a href="https://www.uzes.fr/" title="Visiter le site https://www.uzes.fr - nouvelle fenêtre" target="_blank" data-xiti-type="exit" data-xiti-niv2="11">Ville d'Uzès</a></li>
              </ul>
            </div>
    	      <div class="departement-map">
    		      <p class="map-image gard"><img alt="" src="/assets/images/Gard_department_location_map.svg"></p>
    	      </div>
          </div>
    			<div class="footer-links-3">
    			  <h2>Les sites publics</h2>
    			  <ul class="gouv-link">
    			    <li><a href="http://www.gouvernement.fr/" target="_blank">Gouvernement.fr <img src="/assets/images/ico-link-external-white.png" alt="nouvelle fenêtre" title="nouvelle fenêtre"></a></li>
    			    <li><a href="http://legifrance.gouv.fr/" target="_blank">Legifrance <img src="/assets/images/ico-link-external-white.png" alt="nouvelle fenêtre" title="nouvelle fenêtre"></a></li>
    			    <li><a href="http://service-public.fr/" target="_blank">Service-public.fr <img src="/assets/images/ico-link-external-white.png" alt="nouvelle fenêtre" title="nouvelle fenêtre"></a></li>
    			    <li><a href="https://lannuaire.service-public.fr/centres-contact/R250" target="_blank">Allo Service Public <img src="/assets/images/ico-link-external-white.png" alt="nouvelle fenêtre" title="nouvelle fenêtre"></a></li>
    			    <li><a href="https://www.data.gouv.fr/" target="_blank">Data.gouv.fr <img src="/assets/images/ico-link-external-white.png" alt="nouvelle fenêtre" title="nouvelle fenêtre"></a></li>
    			  </ul>
    				<ul class="footer-social-link">
              <li><a class="social-item" title="Votre village sur Facebook - Nouvelle fenêtre" href="https://www.facebook.com/groups/flaux.solidaire" target="_blank"><img src="/assets/images/ico_facebook_white.png" alt="Votre région sur Facebook"></a></li>
              <li><a class="social-item" title="Nous écrire" href="nous-contacter.html"><img src="/assets/images/ico_mail_white.png" alt="Nous écrire"></a></li>
              <li><a class="social-item" title="Votre village sur Twitter - Nouvelle fenêtre" href="https://twitter.com/mairie_flaux" target="_blank"><img src="/assets/images/ico_twitter_white.png" alt="Votre région sur Twitter"></a></li>
            </ul>

    			</div>
  		  </div><!-- container -->
  	  </div><!-- footer-links -->


  	  <div class="footer-sitemap">
      	<div class="container">
      		<h2>Plan du site</h2>
      		<div class="row">
            <div class="footer-sitemap-col">
              <h3>La mairie</h3>
              <ul>
                <li><a href="/mairie.html">La mairie de Flaux</a></li>
                <li><a href="/elus.html">Les élus</a></li>
                <li><a href="/helpme.html">S.O.S. Personnes isolées</a></li>
                <li><a href="/naturellementflaux.html">Notre Programme</a></li>
              </ul>
    				</div>
    				<div class="footer-sitemap-col">
    					<h3>À la une</h3>
              <ul>
                {% assign footer_sorted = (site.actualites | sort: 'date') | reverse %}
                {% for article in footer_sorted limit:5 %}
                <li><a href="{{ article.url }}">{{ article.titre_page }}</a></li>
                {% endfor %}
              </ul>
            </div>
    				<div class="footer-sitemap-col">
    				  <h3>Vie du village</h3>
              <ul>
                <li><a href="/ecole.html">École</a></li>
                <li><a href="/dechets.html">Le Tri des déchets - Le SICTOMU</a></li>
                <li><a href="/bibliotheque.html">Bibliothèque</a></li>
                <li><a href="/csi.html">Centre Socioculturel - St Quentin-la-poterie</a></li>
                <li><a href="/hebergements.html">Hébergements et restauration</a></li>
              </ul>
            </div>
    				<div class="footer-sitemap-col">
    				  <h3>Découvrir le village</h3>
              <ul>
                <li><a href="/histoire.html">Histoire du village</a></li>
  			 </ul>
            </div>
  		    </div>
        </div>
      </div>
    </footer>

    <!--[if lt IE 9]>
    	<script src="/assets/js/jquery-1.11.1.min.js"></script>
    <![endif]-->

    <!--[if gte IE 9]><!-->
  	<script src="/assets/js/jquery-2.1.1.min.js"></script>
  	<!--<script src="/assets/js/jquery-ui-1.10.1.custom.min.js"></script>
  	<script src="/assets/js/jquery-migrate-1.1.1.min.js"></script>-->
    <!--<![endif]-->

    <script type="text/javascript" src="/assets/js/19184e0c9009a0b01c3f337650c0e8cd_1587059941.js" charset="utf-8"></script>

    <!--<script src="/assets/js/ui.datepicker.js"></script>
    <script src="/assets/js/ui.datepicker_fr.js"></script>
    <script src="/assets/js/jquery-datepicker.js"></script>-->
