
<div class="gouv-actu">
  <div class="region region-content">
    <div id="block-system-main" class="block block-system block-odd">
      <div class="block-content">

        <style type="text/css">
          .serviceide-page.clearfix {
            overflow: auto;
            zoom: 1;
          }
          .serviceide-page{
            background-color: #828282;
            color: white;
            font-family: "Open Sans", "Conv_Century Gothic";
            margin-bottom: 35px;
          }

          .serviceide-page a:visited{
            color: white;
          }



          .serviceide-content-title{
            padding: 35px 0;
            text-transform: uppercase;
            font-size: 34px;
            color: #191818;
            font-weight: bold;
          }


          .serviceide-content-title{
              margin: 0 20px;
          }
          .serviceide-block{
              margin: 0 20px 20px 20px;
          }
          .serviceide-block{
            display: block;
            float: left;
            width: 267px;
          }


          @media only screen  and (min-width : 890px) {
            .serviceide-block{
              width: 267px;
              display: inline-block;
              vertical-align: top;
            }
            .serviceide-content{
              width: 889px;
              margin: 0 auto;
              padding-bottom: 40px;
            }
            .serviceide-block{
               margin: 0 0px;
            }
            .serviceide-block:nth-child(3){
              margin: 0 40px;
            }
          }


          .serviceide-block-date{
            background-color: #3a3737;
            font-size: 10px;
            padding: 1px 4px;
            width: 57px;
          }

          .serviceide-block-border{
            background: url('https://www.gouvernement.fr/sites/all/themes/custom/matignon/img/serviceide/border.png') no-repeat 0 0;
            height: 1px;
            margin-top: 2px;
          }

          .serviceide-block-title{
            padding: 18px 0 15px;
            font-size: 19px;
            font-weight: bold;
            min-height: 70px;
            line-height: 25px;
            text-decoration: none;
            color: white;
            display: block;
          }

          .serviceide-block-border-v{
            background: url('https://www.gouvernement.fr/sites/all/themes/custom/matignon/img/serviceide/border_v.png') no-repeat 0 0;
            height: 8px;
            margin-bottom: 13px;
          }

          .serviceide-block-image img{
            width : 267px;
          }

          .serviceide-block-teaser{
            font-size: 14px;
            line-height: 21px;
            padding-top: 8px;
          }

          .serviceide-page .clear{
            clear:both;
          }
        </style>

        <div class="serviceide-page clearfix">
          <div class="serviceide-content">
            <div class="serviceide-content-title" role="heading" aria-level="2">L'actualité du Gouvernement</div>
            <div class="serviceide-block">
              <div class="serviceide-block-date">06/05/2020</div>
              <div class="serviceide-block-border"></div>
              <div role="heading" aria-level="3">
                <a href="https://www.gouvernement.fr/info-coronavirus" class="serviceide-block-title" target="_blank" title="Info Coronavirus COVID-19  - nouvelle fenêtre">Info Coronavirus COVID-19 </a>
              </div>
              <div class="serviceide-block-border-v"></div><div class="serviceide-block-image">
                <a href="https://www.gouvernement.fr/info-coronavirus" target="_blank" title="Info Coronavirus COVID-19  - nouvelle fenêtre">
                  <img src="/assets/images/informations_essentielles_header_homepage.jpg" alt="">
                </a>
              </div>
              <div class="serviceide-block-teaser"></div>
            </div>
            <div class="serviceide-block">
              <div class="serviceide-block-date">28/05/2020</div>
              <div class="serviceide-block-border"></div>
              <div role="heading" aria-level="3">
                <a href="https://www.gouvernement.fr/info-coronavirus/stopcovid" class="serviceide-block-title" target="_blank" title="Info Coronavirus COVID-19 - STOPCOVID - nouvelle fenêtre">Info Coronavirus COVID-19 - STOPCOVID</a>
              </div>
              <div class="serviceide-block-border-v"></div>
              <div class="serviceide-block-image">
                <a href="https://www.gouvernement.fr/info-coronavirus/stopcovid" target="_blank" title="Info Coronavirus COVID-19 - STOPCOVID - nouvelle fenêtre">
                  <img src="/assets/images/hompage_application_stopcovid_736x430_px.jpg" alt="">
                </a>
              </div>
              <div class="serviceide-block-teaser">
                Depuis le déconfinement, les médecins et l’assurance maladie sont là pour assurer une mission de suivi de l’historique de contact des malades. StopCovid vient compléter l’action de ces équipes en étant un moyen de prévenir dans des situations de forte densité et en cassant les chaînes de transmission.
              </div>
            </div>
            <div class="serviceide-block">
              <div class="serviceide-block-date">08/05/2020</div>
              <div class="serviceide-block-border"></div>
              <div role="heading" aria-level="3">
                <a href="https://www.gouvernement.fr/info-coronavirus/tests-et-depistage" class="serviceide-block-title" target="_blank" title="Info Coronavirus COVID-19 - Tests et dépistage - nouvelle fenêtre">Info Coronavirus COVID-19 - Tests et dépistage</a>
              </div>
              <div class="serviceide-block-border-v"></div>
              <div class="serviceide-block-image">
                <a href="https://www.gouvernement.fr/info-coronavirus/tests-et-depistage" target="_blank" title="Info Coronavirus COVID-19 - Tests et dépistage - nouvelle fenêtre">
                  <img src="/assets/images/tests_et_depistage_header_homepage.jpg" alt="">
                </a>
              </div>
              <div class="serviceide-block-teaser"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="block-block-1" class="block block-block block-even">
      <div class="block-content"></div>
    </div>
  </div>

</div>
