<script type="application/javascript">
  // Fix menu behaviour to allow for mega menu switching.
  $(document).ready(function() {
    // Make sure the mega menus are hidden, otherwise they all show on first click.
    jQuery('.nav-main-dropdown-inner').collapse('hide');
    $(document).on("click", ".nav-main-item", function(e) {
      var $menu_target = $(this).data("target");
      // Show the target div.
      jQuery($($menu_target)).collapse('show');

      // This line makes Bootstrap automatically toggle the other collapsable divs.
      jQuery('.collapse').collapse('hide');
    });

    $(document).click(function() {
      // Capture clicks on the page and collapse the menu.
      jQuery('.nav-main-dropdown-inner').collapse('hide');
    });
  });
</script>
<nav class="nav-main nav-main-regional" id="nav-main" role="navigation">
  <div class="container">

    <button type="button" class="nav-main-toggle" data-toggle="collapse" data-target="#nav-main-list" aria-expanded="false" role="button" id="ui-collapse-411" aria-controls="nav-main-list">Menu</button>

    <ul class="nav-main-first nav-main-desktop" id="nav-main-dropdown">
      <li class="active">
        <a class="nav-main-item" href="/">
          <img src="/assets/images/ico_home.png" alt="Accueil" title="Accueil">
        </a>
      </li>

      <li>
        <a class="nav-main-item" data-toggle="collapse" data-target="#nav-main-1" data-parent="#nav-main-dropdown" href="#nav-main-1" role="button" aria-expanded="false" aria-controls="nav-main-1">
          La mairie
        </a>
        <!-- MEGA MENU -->
        <div class="nav-main-dropdown-inner collapse" id="nav-main-1" tabindex="-1" aria-labelledby="ui-collapse-171" aria-hidden="true">

          <div class="container" role="presentation">

            <div class="nav-main-dropdown-col-1" role="presentation">
              <p>
                <img src="/assets/illustrations/300_183_IMG_3615_porte_mairie_menu.jpg" width="300" height="183" style="border: 0px  ;" alt="">
              </p>
            </div><!-- col -->

            <div class="nav-main-dropdown-col-2" role="presentation">
              <button title="fermer" data-toggle="collapse" data-target="#nav-main-1" class="btn-close" type="button" aria-expanded="false" role="button" id="ui-collapse-171" aria-controls="nav-main-1">
                <img src="/assets/images/btn-close.png" alt="fermer">
              </button>
              <h2>La mairie de Flaux</h2>
              <div class="clearfix" role="presentation">
                <ul class="nav-main-list-1">
                  <li><a href="/mairie.html#horaires">Horaires sécretariat</a></li>
                  <li><a href="/elus.html">Les élus</a></li>
                  <li><a href="/helpme.html">S.O.S. Personnes isolées</a></li>
                </ul>
                <ul class="nav-main-list-2">
                  <li><a href="/comptes.html">Comptes rendus</a></li>
                  <li><a href="/etatcivil.html">État Civil</a></li>
                </ul>
              </div>
              <h2>Nos projets</h2>
              <div class="clearfix" role="presentation">
                <ul class="nav-main-list-1">
                  <li><a href="/naturellementflaux.html">Notre Programme</a></li>
                  <li><a href="/projetfait.html">Projets réalisés et en cours</a></li> 
                </ul>
                <ul class="nav-main-list-2">
                  <li><a href="/projetfuture.html">Projets à venir</a></li>
                </ul>
              </div>
            </div><!-- col -->
          </div><!-- container -->
        </div> <!-- nav-main-dropdown-inner -->
        <!-- END MEGA MENU -->
      </li>

      <li>
        <a class="nav-main-item" href="/actualites.html">À la une</a>
      </li>

      <li>
        <!-- <a class="nav-main-item" href="decouvrir-flaux.html">Découvrir le village</a> -->
        <a class="nav-main-item" data-toggle="collapse" data-target="#nav-main-2" data-parent="#nav-main-dropdown" href="#nav-main-2" role="button" aria-expanded="false" aria-controls="nav-main-2">
          Vie du village
        </a>

        <!-- MEGA MENU -->
        <div class="nav-main-dropdown-inner collapse" id="nav-main-2" tabindex="-1" aria-labelledby="ui-collapse-171" aria-hidden="true">

          <div class="container" role="presentation">

            <div class="nav-main-dropdown-col-1" role="presentation">
              <p>
                <img src="/assets/illustrations/300_183_Flaux_APE_2018_ecole_menu.jpg" width="300" height="183" style="border: 0px  ;" alt="">
              </p>
            </div><!-- col -->

            <div class="nav-main-dropdown-col-2" role="presentation">
              <button title="fermer" data-toggle="collapse" data-target="#nav-main-2" class="btn-close" type="button" aria-expanded="false" role="button" id="ui-collapse-171" aria-controls="nav-main-2">
                <img src="/assets/images/btn-close.png" alt="fermer">
              </button>
              <h2>École</h2>
              <div class="clearfix" role="presentation">
                <ul class="nav-main-list-1">
                  <li><a href="/ecole.html">Notre école</a></li>
                </ul>
                <ul class="nav-main-list-2">
                   <li><a href="/orgscolaire.html">Année scolaire 2020/2021</a></li>  
                </ul>          
              </div>
              <h2>Infos pratiques</h2>
              <div class="clearfix" role="presentation">
                <ul class="nav-main-list-1">
                  <li><a href="/dechets.html">Le Tri des déchets - Le SICTOMU</a></li>
                  <li><a href="/eau.html">Eau</a></li>
                </ul>
                <ul class="nav-main-list-2">
                  <li><a href="/bibliotheque.html">Bibliothèque</a></li>
                  <li><a href="/csi.html">Centre Socioculturel - St Quentin-la-poterie</a></li>
                </ul>
              </div>
              <h2>Annuaire des resources</h2>
              <div class="clearfix" role="presentation">
                <ul class="nav-main-list-1">
                  <li><a href="/associations.html">Associations</a></li>
                  <li><a href="/hebergements.html">Hébergements et restauration</a></li>
                </ul> 
                <ul class="nav-main-list-2">
                  <li><a href="/artisants.html">Artisans et entreprises</a></li>
                </ul>  
              </div>
            </div><!-- col -->
          </div><!-- container -->
        </div> <!-- nav-main-dropdown-inner -->
        <!-- END MEGA MENU -->
      </li>

      <li>
        <!-- <a class="nav-main-item" href="decouvrir-flaux.html">Découvrir le village</a> -->
        <a class="nav-main-item" data-toggle="collapse" data-target="#nav-main-3" data-parent="#nav-main-dropdown" href="#nav-main-3" role="button" aria-expanded="false" aria-controls="nav-main-3">
          Découvrir le village
        </a>

        <!-- MEGA MENU -->
        <div class="nav-main-dropdown-inner collapse" id="nav-main-3" tabindex="-1" aria-labelledby="ui-collapse-171" aria-hidden="true">

          <div class="container" role="presentation">

            <div class="nav-main-dropdown-col-1" role="presentation">
              <p>
                <img src="/assets/illustrations/300_183_flauxcloche_3623_menu.jpg" width="300" height="183" style="border: 0px  ;" alt="">
              </p>
            </div><!-- col -->

            <div class="nav-main-dropdown-col-2" role="presentation">
              <button title="fermer" data-toggle="collapse" data-target="#nav-main-3" class="btn-close" type="button" aria-expanded="false" role="button" id="ui-collapse-171" aria-controls="nav-main-3">
                <img src="/assets/images/btn-close.png" alt="fermer">
              </button>
              <h2>Patrimoine touristique</h2>
              <div class="clearfix" role="presentation">
                <ul class="nav-main-list-1">
                  <li><a href="/histoire.html">Histoire du village</a></li>
                 </ul> 
                <ul class="nav-main-list-2">
                  <li><a href="/interets.html">Points d'intérêts</a></li>
                </ul>   
              </div>
            </div><!-- col -->
          </div><!-- container -->
        </div> <!-- nav-main-dropdown-inner -->
        <!-- END MEGA MENU -->
      </li>
    </ul>

    <ul class="nav-main-first nav-main-mobile collapse" id="nav-main-list" tabindex="-1" aria-labelledby="ui-collapse-411" aria-hidden="true">
      <li><a class="nav-main-item" href="/">Accueil</a></li>
      <li><a class="nav-main-item" href="/mairie.html">La mairie</a></li>
      <li><a class="nav-main-item" href="/naturellementflaux.html">Nos Projets</a></li>
      <li><a class="nav-main-item" href="/actualites.html">À la une</a></li>
      <li><a class="nav-main-item" href="/ecole.html">Vie du village</a></li>
      <li><a class="nav-main-item" href="/dechets.html">Infos Pratiques</a></li>
      <li><a class="nav-main-item" href="/hebergements.html">Resources</a></li>
      <li><a class="nav-main-item" href="/histoire.html">Découvrir le village</a></li>
    </ul>

  </div>
</nav>
